.mainheadingfont {
  font-family: Arial Black;
  font-style: italic;
  font-weight: 400;
  font-size: 80px;
  line-height: 100%;
  letter-spacing: -1px;
  text-transform: uppercase;
}

.paragraphtext {
  font-family: Arial;
  font-weight: 400;
  font-size: 22px;
  line-height: 34px;
  letter-spacing: 0px;
}

.secondheadingtext {
  font-family: "arialblack";
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0px;
}

/* Header-Css */
.headerstyle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.65% 5%;
}

.headerdiv {
  background-color: #fff;
}

.homepagebanner .headerdiv {
  background-color: transparent;
  z-index: 1;
  position: relative;
}

.homepagebanner .headerstyle {
  padding: 1% 5%;
  padding-top: 1.5%;
}

/* Header-Css */

/* Homepage-Css */
.homepagebanner {
  position: relative;
}

.homepagebanner .homepageherobanner {
  position: absolute;
  top: 0;
  width: 100%;
}

.homepageherobanner img {
  height: auto;
  width: 100%;
}

.exploreacademey {
  display: flex;
  justify-content: center;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.exploreacademey button {
  padding: 25px 49px;
  padding: 17px 49px;
  font-size: 18px;
  text-transform: uppercase;
  font-family: Arial;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0px;
  text-transform: uppercase;
  color: #fff;
  backdrop-filter: blur(24px);
}
.exploreacademey button.activebutton {
  background-color: #ffffff;
  color: #be1e2d;
  font-weight: 600;
}

.exploresectiondiv {
  position: absolute;
  bottom: 80px;
  z-index: 1000;
  width: 100%;
  display: flex;
  justify-content: center;
}

.videosectionmain .topleftheading {
  /* color: #be1e2d; */
}

.uppertextstyle {
  position: relative;
  -webkit-text-stroke: 1px #be1e2d;
  color: transparent;
}
.uppertextstyle .stroke {
  pointer-events: none;
}
.uppertextstyle .fill {
  width: 101%;
  position: absolute;
  inset: 0;
  white-space: nowrap;
  color: #be1e2d;
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.4); /* reveal trick (no width problems!) */
  clip-path: inset(0 100% 0 0);
  animation: reveal 5s ease-in-out infinite;
}
@keyframes reveal {
  0% {
    clip-path: inset(0 100% 0 0);
  }
  40% {
    clip-path: inset(0 0 0 0);
  }
  60% {
    clip-path: inset(0 0 0 0);
  }
  100% {
    clip-path: inset(0 0 0 0);
  }
}

.bottomtextstyle {
  position: relative;
  -webkit-text-stroke: 1px #005e96;
  color: transparent;
}

.bottomtextstyle .stroke {
  pointer-events: none;
}

.bottomtextstyle .fill {
  width: 101%;
  position: absolute;
  inset: 0;
  white-space: nowrap;
  color: #005e96;
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.4);
  clip-path: inset(0 0 0 100%);
  animation: reveal1 5s ease-in-out infinite;
}

@keyframes reveal1 {
  0% {
    clip-path: inset(0 0 0 100%);
  }
  40% {
    clip-path: inset(0 0 0 0);
  }
  60% {
    clip-path: inset(0 0 0 0);
  }
  100% {
    clip-path: inset(0 0 0 0%);
  }
}

.videosectionmain .topleftheading {
  text-align: center;
}

.videosectionmain .topleftheading {
  text-align: center;
}

.videosectionmain {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.homevideosection {
  margin-top: 900px;
  height: 1000px;
  display: flex;
  align-items: center;
}
.firstheading {
  margin-right: 5%;
}

.secondheading {
  margin-left: 5%;
}

.paravideosection .paragraphtext {
  width: 55%;
  text-align: center;
}

.paravideosection {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

.countingsection {
  font-family: Arial;
  font-weight: 700;
  font-size: 120px;
  line-height: 100%;
  letter-spacing: -2px;
  text-transform: uppercase;
  color: #be1e2d;
}

.homepagecompanythere {
  display: flex;
  align-items: flex-end;
  column-gap: 8px;
}

.homepagecompanythere .paragraphtext {
  font-style: Italic;
  letter-spacing: -1px;
  text-transform: uppercase;
  line-height: 22px;
  height: max-content;
  color: #be1e2d;
  font-weight: 800;
  width: 55%;
  margin-bottom: 15px;
  font-family: Arial Black;
}

.widthhomepagecompanythere {
  width: 24%;
}

.widthhomepagecompanythere .bottomlinesection {
  height: 1px;
  background: rgba(0, 0, 0, 0.2);
  position: relative;
  width: 97%;
}
.widthhomepagecompanythere .bottomlinesection::before {
  content: "";
  position: absolute;
  display: block;
  width: 11%;
  height: 5px;
  background-color: #be1e2d;
  top: -2.5px;
  right: 0px;
  z-index: 1;
  animation: growline 5s ease-in-out forwards infinite;
  /* animation: slidein 1.2s ease forwards; */
  /* animation: pulse 1.5s ease-in-out infinite; */
}

/* @keyframes growline {
  from {
    width: 0%;
  }
  to {
    width: 14%;
  }
}

@keyframes slidein {
  0% {
    transform: translateX(30px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes pulse {
  0%,
  100% {
    transform: scaleX(1);
  }
  50% {
    transform: scaleX(1.3);
  }
} */
.widthhomepagecompanythere:nth-of-type(even) .countingsection {
  color: #005e96;
}

.widthhomepagecompanythere:nth-of-type(even)
  .homepagecompanythere
  .paragraphtext {
  color: #005e96;
}
.widthhomepagecompanythere:nth-of-type(even) .bottomlinesection::before {
  background-color: #005e96;
}

.secondparacontent {
  letter-spacing: 0px;
  color: #333333;
  margin-top: 16px;
}

.flexhomepageabout {
  display: flex;
  flex-wrap: wrap;
  column-gap: 9%;
  justify-content: center;
  row-gap: 60px;
}

.homepageaboutcompany {
  margin-top: 80px;
}

.discovermorebutton {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.discovermorebutton .secondheadingtext {
  color: #be1e2d;
  text-transform: uppercase;
  text-decoration: underline;
  text-underline-offset: 7px;
  font-weight: 900;
}

.expansivecards .expansivefirstsec {
  display: flex;
  align-items: flex-end;
}

.expansivefirstsec h5 {
  font-family: Arial;
  font-weight: 700;
  font-size: 70px;
  line-height: 100%;
  letter-spacing: -1px;
  text-transform: uppercase;
  color: #be1e2d;
}
.expansivefirstsec .secondheadingtext {
  font-weight: bold;
  line-height: 100%;
  letter-spacing: -1px;
  text-transform: uppercase;
  height: 100%;
  margin-bottom: 8px;
  color: #be1e2d;
}

.expansivecards .paragraphtext {
  font-family: Arial;
  font-weight: bold;
  font-size: 22px;
  line-height: 100%;
  letter-spacing: 0px;
  text-transform: uppercase;
  margin-top: 10px;
}
.avasttext {
  color: #333333;
  width: 75%;
  margin-top: 11px;
}

.expansivecampsflex {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 4%;
  margin-top: 60px;
}

.expansivecards {
  width: 20%;
  position: relative;
}

.expansivecards::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 1px;
  background-color: rgba(0, 0, 0, 0.2);
  top: 0;
  left: -25px;
}

.expansivecards::after {
  content: "";
  position: absolute;
  height: 10%;
  width: 5px;
  background-color: #be1e2d;
  bottom: 0;
  left: -27px;
  transition: height 0.5s ease; /* smooth animation */
}

.expansivecards:hover::after {
  height: 100%; /* your final height */
}

.expansivecards:nth-of-type(even)::after {
  background-color: #005e96;
}

.expansivecards:nth-of-type(even) .expansivefirstsec h5 {
  color: #005e96;
}
.expansivecards:nth-of-type(even) .expansivefirstsec .secondheadingtext {
  color: #005e96;
}

.bgimagesection {
  margin-top: -133px;
}

/* Homepage-Css */

/* Footer CSS */

.footerrow {
  background-image: url("/public/images/footer-bg.jpg");
  background-color: #111111;
  background-blend-mode: multiply;
  background-size: cover;
  background-position: center;
}

.firsttextfooter {
  position: relative;
  -webkit-text-stroke: 2px #fff;
  color: transparent;
  text-align: center;
}

.secondtextfooter {
  position: relative;
  -webkit-text-stroke: 2px #fff;
  color: #fff;
  text-align: center;
}

.footerrow .paragraphtext {
  color: #fff;
  width: 30%;
}

.becomeachampion {
  display: flex;
  justify-content: center;
}

.becomeachampion .secondheadingtext {
  font-weight: 900;
  font-size: 18px;
  line-height: 100%;
  text-transform: uppercase;
  color: #fff;
}

/* Footer CSS */
